<header>
  <hgroup>
    <h1>C.A.Thames</h1>
    <h2>Software Architect and Programmer</h2>
    <h3>relentless in pursuit of excellence in computing</h3>
  </hgroup>
  <nav>
    <a href="/" class="selected">Home</a>
    <a class="link-disabled">Code</a>
    <a class="link-disabled">Diagrams</a>
    <a class="link-disabled">Movies</a>
    <a class="link-disabled">Writings</a>
  </nav>
</header>
<section>
  <article id="news" class="alert">
    <h1>Rennovation Underway</h1>
    <p>This website is being redesigned and reprogrammed.
      My previous web host broke their support for
      <a href="http://radiantcms.org">Radiant</a>,
      a Rails CMS, so I'm rebuilding this site from scratch in pure
      <a href="http://rubyonrails.org">Ruby on Rails</a>,
      using the most recently released
      <a href="http://www.ruby-lang.org">Ruby</a>
      <a href="http://www.ruby-lang.org/en/news/2013/02/24/ruby-2-0-0-p0-is-released/">
      2</a> on Rails 4.</p>
  </article>
  <article id="code"></article>
  <article id="diagrams"></article>
  <article id="movies"></article>
  <article id="writings"></article>
</section>
<footer></footer>
