@mixin background-color_header {
  background-color: #777;
}
@mixin background-color_section {
  background-color: #FFF;
}
header {
  @include background-color_header;
  background: linear-gradient(to right, #555, #FFF);
  background: -webkit-linear-gradient(left, #555, #FFF);
  font-size: 12px;
  hgroup {
    overflow: hidden;
    padding: 12px;
    h1, h2, h3 {
      white-space: nowrap;
    }
    h1 {
      margin: 4px 4px;
      color: #FFF;
      text-shadow: 3px 4px 3px rgba(0,0,0,0.7);
    }
    h2 {
      margin: 0px 4px;
      color: #FF8;
      text-shadow: 2px 3px 2px rgba(0,0,0,0.7);
    }
    h3 {
      margin: 0px 4px;
      color: #FB6;
      text-shadow: 1px 2px 1px rgba(0,0,0,0.7);
    }
  }
  nav {
    background-color: #555;
    overflow: hidden;
    padding: 0px 12px;
    white-space: nowrap;
    a, a:visited {
      color: #FF7F7F;
      display: inline-block;
      padding: 4px 12px;
      text-decoration: none;
    }
    a:hover {
      background-color: #FF7F7F;
      color: #FFFFFF;
    }
    a.selected, a.selected:hover{
      @include background-color_section;
      color: #FF0000;
    }
    a.link-disabled, a.link-disabled:hover {
      background-color: #555555;
      color: #000000;
    }
  }
}
#header-links {
  text-align: right;
  float:      right;
  width:      50%;
}
#header-titles {
  float:      left;
  width:      50%;
}
#link-linkedin {
  padding:            0;
  a, a:visited, a:hover, a.selected, a.selected:hover {
    background:       none;
    color:            #000;
    display:          block;
    font-size:        1.25em;
    line-height:      1.0em;
    padding:          0;
    text-decoration:  none;
    vertical-align:   middle;
  }
  div {
    float:            right;
  }
}
