@mixin background-color_header {
  background-color: #777777;
}
@mixin background-color_section {
  background-color: #FFFFFF;
}
@mixin box_static {
  max-height: 1em;
  overflow: hidden;
  text-overflow: clip;
}
header {
  @include background-color_header;
  font-size: 12px;
  hgroup {
    padding: 12px;
    h1, h2, h3 {
      @include box_static;
      margin: 4px;
    }
    h1 {
      color: #FFFFFF;
      text-shadow: 3px 4px 3px rgba(0,0,0,0.7);
    }
    h2 {
      color: #FFFF7F;
      text-shadow: 2px 3px 2px rgba(0,0,0,0.7);
    }
    h3 {
      color: #FFAF5F;
      text-shadow: 1px 2px 1px rgba(0,0,0,0.7);
    }
  }
  nav {
    @include box_static;
    background-color: #555555;
    padding: 8px;
    a, a:visited {
      color: #FF7F7F;
      margin: 4px;
      padding: 8px;
      text-decoration: none;
    }
    a.selected {
      @include background-color_section;
      color: #FF0000;
    }
    a.link-disabled, a.link-disabled:hover {
      background-color: #555555;
      color: #000000;
    }
    a:hover {
      background-color: #FF7F7F;
      color: #FFFFFF;
    }
  }
}
