// Place all the styles related to the Codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_mixins_datagrid';
#code, #codes {
  @include datagrid;
  a.link-edit {
    color:              #998866;
    &:hover {
      background-color: #998866;
    }
  }
  #heading_action1    { width: 3em; }
  #heading_action2    { width: 5em; }
  #heading_name       { }
  #heading_revision   { width: 10em; }
  #heading_language   { width: 10em; }
}
#code {
  tr:nth-child(2n)    { background-color:#DDD; }
  tr:nth-child(2n+1)  { background-color:#DDD; }
  th {                  background-color:#986; }
  table, td {               border-color:#986; }
}
#codes {
  tr:nth-child(2n)    { background-color:#EDB; }
  tr:nth-child(2n+1)  { background-color:#FED; }
  th {                  background-color:#986; }
  table, td {               border-color:#986; }
}
#code-shown {
  border:         0px solid;
  code {
    color:        #000;
    font-family:  monospace;
    font-size:    1.1em;
  }
  pre, code {
    line-height:  1.1em;
  }
  pre {
    background-color: #FED;
    padding:          0;
  }
}
