// Place all the styles related to the Diagrams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_mixins_datagrid';
#diagram, #diagrams {
  @include datagrid;
  a.link-edit {
    color:              #698;
    &:hover {
      background-color: #698;
    }
  }
  #heading_action1    { width: 3em; }
  #heading_action2    { width: 5em; }
  #heading_name       { }
  #heading_revision   { width: 10em; }
  #heading_dimensions { width: 10em; }
}
#diagram {
  tr:nth-child(2n)    { background-color:#DDD; }
  tr:nth-child(2n+1)  { background-color:#DDD; }
  th {                  background-color:#698; }
  table, td {               border-color:#698; }
}
#diagrams {
  tr:nth-child(2n)    { background-color:#BED; }
  tr:nth-child(2n+1)  { background-color:#DFE; }
  th {                  background-color:#698; }
  table, td {               border-color:#698; }
}
#diagram-shown {
  border: 0px solid;
}
