<header>
  <hgroup>
    <h1>Christopher Augustus</h1>
    <h2>Software Architect and Programmer</h2>
    <h3>relentless in pursuit of excellence in computing</h3>
  </hgroup>
  <nav>
    <a href="/" class="selected">Home</a>
    <a class="link-disabled">Code</a>
    <a href="/diagrams">Diagrams</a>
    <a class="link-disabled">Movies</a>
    <a class="link-disabled">Writings</a>
  </nav>
</header>
